// ellipsis
@mixin ellipsis() {
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

@mixin multi-ellipsis($line: 2, $line-height: 1.5, $height-fixed: false) {
  display: block;
  display: -webkit-box;

  @if $height-fixed ==true {
    // 유동적인 경우 사용
    height: ($line * $line-height) * 1rem;
    max-height: ($line * $line-height) * 1rem;
  }

  @else {
    max-height: ($line * $line-height) * 1rem;
  }

  text-overflow: ellipsis;
  line-height: $line-height * 1rem;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  white-space: normal;
}