// 컴파일 css기준 경로 지정

//main 이미지 URL
$MAIN_BG_URL: '../img/main/';

//product 이미지 URL
$PRODUCT_BG_URL: '../img/product/';

//sub 이미지 URL
$SUB_BG_URL: '';

//웹폰트 URL
$WEB_FONT_URL: '../font/';

//공통 이미지 URL
$COMMON_BG_URL: '../img/common/';
