// skipnavi
#skipnavi {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin-left: 0;
  z-index: 99999;

  a {
    position: absolute;
    left: -99999px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.4em;
    background-color: rgb(50, 50, 50);

    &:focus,
    &:active {
      position: relative;
      left: 0;
      z-index: 9999;
      width: 100%;
      padding: 10px;
      text-decoration: none;
    }

    &:link,
    &:visited,
    &:hover,
    &:active {
      color: var(--color-gc10);
    }
  }
}

// Breakpoint
// pc
// @include breakpoint.breakPoint(config.$desktop, config.$deskWide) {}

// mobile
// @include breakpoint.breakPoint(config.$mobile, config.$tablet) {}
